<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>AI-Driven Analysis and Enhancement</title>
    <link href="/style.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="header">
        <img class="logo" src="/assets/icons/icon.png" alt="Logo" />
        <span class="title">Анализ полноты содержания статей на основе искусственного интеллекта</span>
        <img class="star" src="/assets/icons/star.png" alt="Logo" />
    </div>
    <div>
        <div class="container">
            <div id="result"></div>
            <input class="name" type="text" placeholder="Название" v-model="title" @keyup.enter="sendMessage">
            <textarea id="text" placeholder="Введите текст" v-model="text" @keyup.enter="sendMessage" rows="3"></textarea>
        </div>
        <div class="send-container">
            <button type="submit" id="send" @click="sendMessage">Отправить текст на анализ</button>
        </div>
    </div>
    <!-- Удалено подключение jQuery и Bootstrap -->
    
    <script>
        let socket = new WebSocket("ws://localhost:8000");
        document.getElementById('send').addEventListener('click', function() {
            socket.send(JSON.stringify({ text: document.getElementById('text').value, title: document.querySelector('.name').value }));
        });

        socket.addEventListener("message", (event) => {
            console.log(event.data);
            document.getElementById('result').textContent = event.data;
        });
    </script>
</body>
</html>
